.projetos{
    background-color:aliceblue;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.projetos .title{
    margin: 70px auto 60px;
}
.projetos .title>h2{
    color: #393939;
    font-size: 1.5em;
    text-align: center;
}

.carousel {
    width: 85vw;
    height: 380px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 1em #393939;
}
.carousel img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.carousel img.active {
    opacity: 1;
}
.carousel-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}
.carousel-control {
    cursor: pointer;
    margin: 0 10px;
    font-size: 50px;
    color: black;
}

.texto{
    text-align: center;
    margin: 40px auto;
    font-size: .8em;
}

.texto span a{
    color: 1.1em;
    text-decoration: none;
    font-weight: bolder;
}
