.sobre{
    background-color: aliceblue;
    margin: 0 auto;
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
    width: 100vw;
    z-index: 999;
}
.sobre h2{
    text-align: center;
}
.sobre-article{
    margin: 0 70px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    text-align:start;
    font-size: 1.1em;
    width: 80vw;
}
.intro-img{
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    height: 320px;
    width: 320px;
    outline: 2px solid black;
    box-shadow: 0 1.5em 1em black;
    margin-left: 60px;
}
@media screen and (min-width: 200px) and (max-width:480px){
    .sobre-article{
       
        align-items: center;
        justify-content: center;
        display:flex;
        flex-direction: column-reverse;
    }
    .intro-img{
        margin-bottom: 50px;
     }
}
@media screen and (min-width: 481px) and (max-width:768px) {
    .sobre-article{
        
        align-items: center;
        justify-content: center;
        display:flex;
        flex-direction: column-reverse;
    }
.intro-img{
        margin-bottom: 50px;
     }
}
}
